* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    font-family: sans-serif;
}

header {  
  background-color: aquamarine;
  margin: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;     
}
.logoheader {
  background-color: aquamarine;
  width: 100px;
  height: 100px; 
}
.titulo {  
  text-align: center;
  color: black;
 
}
form.form {
  display: flex;
  gap: 10px;    
}
.password {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
}
.email {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;  
}
button {
  background-color: purple;
  color: white;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 10px;
}
button:active {
  background-color: rgb(77, 1, 77);
  color: white;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 10px;
}