.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
}

.trybewarts-header-logo {
  display: flex;
  height: 100px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

button {
  background-color: purple;
  color: white;
  padding: 10px;
  border: none;
}

main {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

