* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    
}

header {  
  background-color: aquamarine;
  margin: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;     
}
.logoheader {
  background-color: aquamarine;
  width: 100px;
  height: 100px; 
}
.titulo {  
  text-align: center;
  color: rgb(255, 255, 255);
}
form.form {
  display: flex;
  gap: 10px;    
}
.password, .email {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
}

button {
  background-color: purple;
  color: white;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 10px;
}
button:active {
  background-color: rgb(77, 1, 77);
}
main {
  display: flex;
}

.FormTitulo{
  text-align: center;
  padding: 15px 10px 10px 10px; 
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675PX;
  justify-content: flex-start;

}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name, #input-lastname, #input-email, #house {
  margin: 5px 15px 5px 5px;
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px dotted black;
}

.row {
  display: flex;
  justify-content: flex-start;
}

.logocasas {
  margin: auto;
  width: 500px;
  height: 500px;
}

hr, textarea {
  border: 1px solid black;
}

input[type="radio"]:hover, input[type="checkbox"]:hover {
  cursor: pointer;
}

.form-two {
  display: flex;
}

.label-family {  
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 30%;
  justify-content: flex-start;
}
.label-content {  
  display: inline-block;
  flex-direction: column;
  margin: 5px;
  width: 50%;
  justify-content: flex-start;  
}
.label-family > label, .label-rate >label {
  margin: 4px;  
}
.label-content > label {
  margin: 10px;
}

.label-rate , .comment, #label-infos{
  padding: 5px;
}

#submit-btn {
  background-color: rgb(130, 0, 130);
  font-size: 16px;
  border-radius: 20px;
  margin: 5px;
}
#submit-btn:disabled {
  background-color: rgb(100, 0, 100);
  font-size: 16px;
  border-radius: 20px;
  margin: 5px;
}

footer {
  background-color: rgb(99, 97, 97);
  padding: 15px;
  text-align: center;
  color: white;
}
